
<h3>Round Team</h3>
<div class="form-group form-inline col-sm-4">
    <select class="form-control" id="roundTeam" [(ngModel)] = "selectedTeam" style="margin-right: 5px" [disabled] = "bet">
        <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
    </select>
    <select class="form-control" id="winnerTeam" [(ngModel)] = "selectedRound" style="margin-right: 5px" [disabled] = "bet">
        <option *ngFor="let round of rounds" [value]="round.id">{{round.name}}</option>
    </select>
    <button class="btn btn-success" type="submit" (click) = "saveBet()" [disabled] = "bet">Save Bet</button>
</div>
<div class="col-sm-4" *ngIf="bet" >
    Bet : {{bet.team}} - {{bet.round}}
</div>